:root {
    --accent-color: purple;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: bahnschrift, arial;
    font-weight: lighter;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: purple white;
    min-height: 100vh;
}

body {
    min-height: 100vh;
}

:is(a, button):hover {
    cursor: pointer;
}

header {
    /*backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #ffffff7a;*/
    position: fixed;
    z-index: 95;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    header > * {
        padding: 0.5rem 1rem;
    }

    header > #head-name {
        display: inline-block;
        text-transform: uppercase;
        background: -webkit-linear-gradient(0deg, blue, var(--accent-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.5rem;
        text-decoration: none;
    }

    header > #head-icons {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

        header > #head-icons :is( ion-icon,a) {
            width: 1.5rem;
            height: 1.5rem;
        }

        header > #head-icons a {
            transition: 0.25s cubic-bezier(.25,.46,.45,.94);
            margin-inline: 0.5rem;
            color: var(--accent-color);
            border-bottom: 1px solid transparent;
/*            border-radius: 0.2rem;*/
            box-sizing: content-box;
        }

            header > #head-icons a:hover {
                border-color: purple;
            }

ul.dashed {
    list-style-type: none;
}

    ul.dashed > li {
        text-indent: -5px;
    }

        ul.dashed > li:before {
            content: "-";
            text-indent: -5px;
            margin-right: 0.5rem;
        }
